<!-- ----------------------------------------------------------------------------- -->
<!-- 
Project: Eclipse Test and Performance Tools Platform Project
-->
<!-- ----------------------------------------------------------------------------- -->

<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
  <head>
    <title>&lt;YOUR_SUBPROJECT_NAME - SUBSYSTEM&gt;</title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="eclipse_style.css" >
  </head>
  <body>
    <div id="page_header">&lt;SUBPROJECT_NAME - SUBSYSTEM&gt;</div>
    <div id="page_sub_header">Project architecture</div>
    
    <div id="section_header">Subsystem description</div>
    <div class="content">
    
    <p>&lt;Description of subsystem&gt;</p>
    <p>Link to the main <a href="project_architecture.html">project site</a>.</p>
    </div>
    
    <!-- You can leave the following section out if there is no diagram at this level  -->
    <div id="section_header">Subsystem architecture</div>
    <div class="image_map"><img src="images/c.gif" height="200" alt="Component architecture overview"><br>
    <span class="img_caption">Figure 1. &lt;Caption describing the architecture diagram&gt;</span></div>
    
    <div id="section_divider"></div>
    
    
    <div id="section_header">Component list</div>
    <div class="content">
    <p>Info about each component:</p>
    <dl id="comp_list">
        <dd><a name="ui"></a>&lt;COMPONENT A&gt;</dd>
          <dt>&lt;COMPONENT A description&gt;
          <table id="tbl_info" id="ui_table">
            <tr>
              <th id="name">Committers</th>
            </tr>
            <tr>
              <td headers="name">n/a</td>
            </tr>                                                                    
          </table>
        </dt>              
        <dd><a name="ui"></a>&lt;COMPONENT B&gt;</dd>
          <dt>&lt;COMPONENT B description&gt;
          <table id="tbl_info" id="ui_table">
            <tr>
              <th id="name">Committers</th>
            </tr>
            <tr>
              <td headers="name">n/a</td>
            </tr>                                                                    
          </table>
        </dt>                 
      </dl>   
    </div>
      <div id="section_divider"></div>
    <div id="copyright">&lt;INSERT_LEGAL_STATEMENTS&gt;</div>
  </body>
</html>