<!-- ----------------------------------------------------------------------------- -->
<!-- 
Project: Eclipse Test and Performance Tools Platform Project
-->
<!-- ----------------------------------------------------------------------------- -->

<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
  <head>
    <title>&lt;YOUR_PROJECT_NAME&gt;</title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="eclipse_style.css" >
  </head>
  <body>
 
    <div id="page_header">&lt;SUBPROJECT_NAME&gt;</div>
    <div id="page_sub_header">Project architecture</div>

    <div id="section_header">Project description</div>
    <div class="content">
      <p>&lt;Describe subproject&gt;</p>
      <p>For additional project information, refer to the <a href="">project website</a>.</p>
   </div>
   
    <!-- Remove this section if you do not have an additional diagram -->
     <div id="section_header">Project architecture</div>
    <div class="image_map">
  <IMG SRC="images/c.gif" WIDTH="500" HEIGHT="200" BORDER=0 ALT="" USEMAP="#tptp_arch_Map">
    <MAP NAME="tptp_arch_Map">
      <AREA SHAPE="rect" ALT="" COORDS="0,0,500,200" HREF="projectsubsystem_architecture.html">
      
    </MAP>
    <br>
      <span class="img_caption">Figure 1. &lt;Caption describing the architecture diagram&gt;</span>
    </div>
    
   <div id="section_header"><a name="subsys_desc"></a>Subsystem descriptions</div> 
   <div class="content">   
      <dl id="subsys_list">
        <dd><a name="ui"></a>Subsystem 1</dd>
          <dt> Describe subsystem
            
          <br>Subsystem has the following components:
          <table id="tbl_info" id="ui_table">
            <tr>
              <th id="name">Name</th>
              <th id="desc">Description</th>
            </tr>
            <tr>
              <td headers="name">name1</td>
              <td headers="desc">Description 1.</td>
            </tr>   
            <tr>
              <td headers="name">name2</td>
              <td headers="desc">Description 2</td>
            </tr>              
          </table>
        </dt>
                
        <dd><a name="emf"></a>Subsystem 2</dd>
          <dt>Subsystem description        </dt>
           
      </dl>
      
      
    </div>
      <div id="section_divider"></div>
    <div id="copyright">&lt;INSERT_LEGAL_STATEMENTS&gt;</div>
  </body>
</html>